//color
$color-gray-light: #999999;
$color-gray-normal: #666666;
$color-gray-dark: #333333;

$color-blue-dark: #1d2a3a;
$color-blue-normal: #707b88;
$color-brown: #a99994;
$color-green-dark: #9caeaa;
$color-green-normal: #e6ebea;
$color-green-light: #f0f3f2;
$color-beige: #fdfbf8;

//font family
$font-family-Montserrat: "Montserrat", sans-serif;
$font-family-sans-serif: "Helvetica Neue", "Arial", "PingFang TC", "Microsoft JhengHei", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-Montserrat;

// Typography
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

h1,
.h1 {
  font-size: $h1-font-size;
}
h2,
.h2 {
  font-size: $h2-font-size;
}
h3,
.h3 {
  font-size: $h3-font-size;
}
h4,
.h4 {
  font-size: $h4-font-size;
}
h5,
.h5 {
  font-size: $h5-font-size;
}
h6,
.h6 {
  font-size: $h6-font-size;
}

body {
  margin: 0;
  font-family: $font-family-base;
  position: relative;
  z-index: 1;
}

.parallax {
  /* 設定背景圖片/居中/不重覆 */
  /* background: url("https://photo.minwt.com/cc0/09.jpg")center center no-repeat; */
  /* 設定區塊高度 */
  /* min-height: 600px; */
  /* 背景自動縮放/固定 */
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.normal-text {
  font-size: 16px;
  letter-spacing: 2px;
  color: $color-gray-dark;
  text-align: justify;
  text-justify: auto;
}
.text-gray-light {
  color: $color-gray-light;
}
.text-gray {
  color: $color-gray-normal;
}
.text-gray-dark {
  color: $color-gray-dark;
}
.text-center {
  text-align: center;
}
.text-block {
  display: block;
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
